@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --thy-red: #c8102e;
    --thy-red-hover: #a80d26;
    --emerald: #10b981;
    --amber: #f59e0b;
  }

  body {
    @apply bg-white text-zinc-800 font-sans antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  * {
    border-color: rgb(226 232 240);
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 3px;
  }
}
